[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PPTP Dialer
Name[pt_PT]=Aplicação de Ligação PPTP
Comment=GNOME PPX - PPTP Dialer
Comment[pt_PT]=GNOME PPX - Aplicação de Ligação PPTP
Exec=pptp_dialer
Icon=network-config.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;System;Dialup;GNOME;
