[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PPPoA Dialer
Name[pt_PT]=Aplicação de Ligação PPPoA
Comment=GNOME PPX - PPPoA Dialer
Comment[pt_PT]=GNOME PPX - Aplicação de Ligação PPPoA
Exec=pppoa_dialer
Icon=network-config.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;System;Dialup;GNOME;
